In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Scatter Plots ##

In [ ]:
# Actors and their highest grossing movies
actors = Table.read_table('actors.csv')
actors

In [ ]:
actors.scatter('Number of Movies', 'Total Gross')

In [ ]:
actors.scatter('Number of Movies', 'Average per Movie')

In [ ]:
# Use Table.where() to find which actor has:
# * the lowest average per movie
# * the highest average per movie
# * the top seven actors by total gross.

...

## Bar Charts ##

In [ ]:
# Highest grossing movies in history as of 2017
# Measurements are adjusted for inflation.
top_movies = Table.read_table('top_movies_2017.csv')
top_movies

In [ ]:
top10_adjusted = top_movies.take(np.arange(10))
#top10_adjusted.show()

# Fill in this cell to find the top 10 by Gross
# instead of the adjusted gross.

top10_gross = top_movies.sort('Gross', descending=True)
top10_gross.show(10)

In [ ]:
# Convert to millions of dollars for readability
millions = np.round(top10_adjusted.column('Gross (Adjusted)') / 1000000, 3)
top10_adjusted = top10_adjusted.with_column('Millions', millions)
top10_adjusted

In [ ]:
# A line plot doesn't make sense here: don't do this!
top10_adjusted.plot('Year', 'Millions')

In [ ]:
top10_adjusted.barh('Title', 'Millions')

In [ ]:
# Exercise: make a bar chart of all movies released by Newline after 2000
# and include the gross revenue.

...